<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".HabitTrackerApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Habitus"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HabitTrackerApp">

        <!-- Creamos el 'Splash' como punto de entrada -->
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Creamos el 'Onboarding' unicamente para primera vez de Usuario -->
        <activity
            android:name=".ui.OnboardingActivity"
            android:exported="false"/>

        <!-- Creamos la pantalla de 'Login' -->
        <activity
            android:name=".ui.InicioSesionInterfaz"
            android:exported="false"/>

        <!-- Creamos la pantalla de 'Registro' -->
        <activity
            android:name=".ui.RegisterActivity"
            android:exported="false"/>

        <!-- Creamos la pantalla de 'Recuperación de contraseña' -->
        <activity
            android:name=".ui.ForgotPasswordActivity"
            android:exported="false"/>

        <!-- Creamos el contenedor principal con fragments y 'BottomNav' -->
        <activity
            android:name=".MainActivity"
            android:exported="false"/>

        <!-- Creamos la pantalla de 'Crear nuevo hábito' -->
        <activity
            android:name=".ui.CreateHabitActivity"
            android:exported="false"/>

        <!-- Creamos la pantalla de 'Detalle de hábito' -->
        <activity
            android:name=".ui.HabitDetailActivity"
            android:exported="false"/>

        <!-- Creamos la pantalla de 'Notificaciones' -->
        <activity
            android:name=".ui.NotificationsActivity"
            android:exported="false"/>

        <!-- Creamos la pantalla de 'Apariencia' -->
        <activity
            android:name=".ui.AppearanceActivity"
            android:exported="false"/>

        <!-- Creamos la pantalla de 'Privacidad' -->
        <activity
            android:name=".ui.PrivacyActivity"
            android:exported="false"/>

        <!-- Creamos la pantalla de 'Acerca de' -->
        <activity
            android:name=".ui.AboutActivity"
            android:exported="false"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts"/>

    </application>

</manifest>
